@tailwind base;
@tailwind components;
@tailwind utilities;
#background {
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: -10;
}
.rocket {
  animation: rocketAnimation 2s ease-in-out;
}
@keyframes rocketAnimation {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
